.bio {
    border: 1px solid black;
    background-color: #BDB76B;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.attendant {
    font-style: italic;
    font-size: 40px;

}

.bio_header {
    font-weight: bold;
    padding-left: 100px;
}
.twitter-timeline {
    flex-wrap: wrap;
}
.title {
    text-align: right;
}

h2 {
    font-size: 5vw
}

header {
    text-align: right;
    padding: 60px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    width: 100%;

}
main {
    display: flex;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 3vw;
}

.twitter {
    background-color: hotpink;
    color:wheat;
}

.youtube {
    display: flex;
}

.link_list {
    background-color: red;
}

footer {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1abc9c;
    color: white;
}

body {
    background-image: url("/images/fnaf_1_start_screen__4k__by_razorsz_davbw8q-pre.jpg");
    background-size: 25%;
}